$colors: (
  primary: ( // blue
    300: 199 100% 04%,
    400: 199 100% 14%,
    500: 199 100% 24%,
  ),
  secondary: ( // purple
    300: 199 98% 38%,
    400: 199 98% 48%,
    500: 199 98% 58%,
  ),
  error: ( // red
    300: 358 72% 70%,
    400: 358 72% 53%,
    500: 358 72% 30%,
  ),
  success: ( // green
  300: 135 99% 70%,
  400: 135 99% 53%,
  500: 135 99% 30%,
),

  neutral: (
    100: 0 0% 100%,
    200: 0 0% 87%,
    300: 0 0% 80%,
    400: 0 0% 70%,
    500: 0 0% 60%,
    600: 0 0% 50%,
    700: 0 0% 40%,
    800: 0 0% 30%,
    900: 0 0% 15%,  
  )
);